<h1>My Kittens</h1>
<% if @kittens&.any?%>
    <ul>
        <% @kittens.each do |kitten|%>
            <li>

                <%= link_to kitten.name, kitten_path(kitten) %> |
                <%= link_to "Delete", kitten_path(kitten), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>No kittens found.</p>
<% end %>
<%= link_to 'New Kitten', new_kitten_path %>